:root {
  --white-color: #ffffff;
  --blue-color: #1698D9;
  --black-color: #000000;
  --grey-color: #666666;
  --light-grey-color: #F2F2F2;
  --medium-grey-color: #B3B3B3;
  --red-color: #D91667;
  --yellow-color: #FFFF66;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  background-image: url("../../images/Pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 25px;
}