.card__label {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  background-color: var(--blue-color);
  border-radius: 50%;
  bottom: 13px;
  right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}