.card {
  background-color: var(--white-color);
  background: url("../../images/Object.png")
  no-repeat left bottom,
  linear-gradient(135deg, transparent 28px, var(--white-color) 28px);
  border-radius: 11px;
  min-height: 472px;
  position: relative;
  /*border: red 2px solid;*/
}

.card::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: -1;
  background-color: var(--blue-color);
  background: linear-gradient(135deg, transparent 29px, var(--blue-color) 29px);
  border-radius: 12px;
}

/*.card:hover::before {*/
/*  background: linear-gradient(135deg, transparent 25px, rgb(135, 190, 253) 25px);*/
/*}*/

/*.card {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  background: url("../../images/Border.svg") no-repeat;*/
/*  background-size: 320px 480px;*/
/*  min-height: 480px;*/
/*}*/

/*.st0 {*/
/*  fill:#FFFFFF;*/
/*  stroke:blue;*/
/*  stroke-width:4px;*/
/*}*/

/*.st0:hover {*/
/*  stroke: red;*/
/*}*/